@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Creepster&family=Luckiest+Guy&family=Oleo+Script:wght@400;700&family=Righteous&family=Silkscreen:wght@400;700&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;

}
header{
    height: 70px;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: rgb(221, 158, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 15px black;
    z-index: 763216;
    
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: "Luckiest Guy", cursive;
    padding: 0px 30px;
    color: rgb(66, 0, 0);
}
.logo span{
    color: rgb(255, 255, 255);
}
nav{
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(114, 0, 0);
    margin-right: 10px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 15px 20px;
}
nav a:hover{
    background-color: gold;
    color: rgb(138, 99, 0);
}
.img-con{
    filter: blur(0px);
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    justify-content: center;
    background-image: url(view-ready-eat-delicious-meal-go.jpg);
    background-size: 100%;
    text-align: center;
    
    gap: 10px;
}
.img-con h1{
    font-size: 40px;
    color: darkred;
      font-family: "Staatliches", sans-serif;
      margin-top: -50px;
}

.img-con h3{
    font-size: 25px;
    font-family: "Caveat", cursive;
}
.img-con button{
    width: 120px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: darkred;
    color: wheat;
    font-weight: 700;
    border-radius: 50px;
}
.food-con{
    height: auto;
    width: 100%;
}
.food-con .first-con,.food-con .second-con{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-con .f-con,.second-con .f-con{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-con h1,.second-con h1,.order-form h1,.about-us h1,.contact-us h1{
    text-transform: uppercase;
    font-family: "Staatliches", sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;

}
.f-con .f-box{
    height: 350px;
    width: 300px;
    background-color: gold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.f-box .img{
    width: 100%;
    height: 200px;
    background-size: contain;
}
.f-box .img1{
        background-image: url(delicious-cooked-sea-food.jpg);
}
.f-box .img2{
    background-repeat: no-repeat;
    background-image: url(delicious-food-table.jpg);
    background-size: 120%;
}
.f-box .img3{
        background-image: url(delicious-indian-food-tray.jpg);
}
.f-box .img4{
        background-image: url(delicious-lobster-gourmet-seafood.jpg);
}
.f-box .img5{
        background-image: url(high-angle-pakistan-meal-composition.jpg);
}
.f-box .img6{
        background-image: url(spicy-fried-tubtim-fish-salad-spicy-thai-food.jpg);
}
.f-box .content h2{
    text-transform: uppercase;
    font-family: "Staatliches", sans-serif;
}
.content h3{
    margin-top: 5px;
}
.content button{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: darkred;
    border: none;
    color: white;
}


.order-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(5753403.jpg);
    background-size: cover;
    
    padding-bottom: 20px;
}
.order-form h1{
    text-align: center;
    margin-bottom: 5px;
}
.order-form form{
    width: 500px;
    padding: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkred;
}
form input{
    width: 300px;
    height: 40px;
    padding: 0px 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
}
form input::placeholder{
    color: black;
}
form button{
    width: 200px;
    height: 40px;
    background-color: rgb(255, 183, 0);
    border: none;
    margin-top: 20px;
}
.about-us{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us .au{
    width: 1000px;
    height: 100%;
    display: flex;
    background-color: gold;
}

.about-us .chef-img{
    height: 100%;
    width: 300px;
    background-image: url(chef-cooking-kitchen-while-wearing-professional-attire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.au .content{
    width: 700px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.au .content p,.content h4{
    text-align: justify;
    margin-top: 20px;
    font-family: "Caveat", cursive;
    font-size: 25px;
    
}
.contact-us{
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    background: url(delicious-brazilian-food-composition-with-copy-space.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.contact-us h1{
    margin-left: 280px;
    color: black;
}
.contact-us form{
    width: 500px;
    height: 450px;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkred;
}
.contact-us form textarea{
    padding: 10px 20px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: gold;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
